<div class="grid-container">
    <div class="center-box">
      <!-- Content of the center box -->
        <div class="air-qi">
            <p>Air QI</p>
        </div>
        <div class="breath-better">
            <p>Breath Better</p>
        </div>
        <div class="para">
            <p>Understand the air around you, wherever you go with the largest coverage of trusted data.</p>
        </div>
        <button class="btn1" [routerLink]="'/work'">Get Started</button>
    </div>
  </div>
  

